
<div class="form-container">
    <div>
         {{#each Products}}
        <div class="card">
            <img src="{{this.thumbnail}}" alt="..." class="images">
            <div class="card-body">
                Title: {{this.title}} </br>
                Id: {{this._id}} </br>
                Price:  {{this.price}} $ </br>
                Description : {{this.description}} </br>
                Code:{{this.code}}</br>
                Stock:  {{this.stock}}</br>
                Status:{{this.status}}</br>
                Category: {{this.category}}</br>
            </div>
        </div>
         {{/each}}
    </div>
</div>