<div id="carta">
  <img src="https://i.pinimg.com/originals/66/79/b6/6679b67c5fb579305d74dadd2029441c.jpg" width="300px">

  <h1>{{firstname}} {{lastname}}</h1>

  <div id="description">
    <p>
      {{email}}
    </p>

    <p>
      {{age}}
    </p>

    <p>
      Rol : {{Rol}}
    </p>
  </div>
</div>